*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(15, 15, 15);
    font-family: Roboto, Arial, sans-serif;
}

#nav{
    width: 100%;
    height: 56px;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: space-between;
}

#start{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
}

#icon-youtube{
    margin: 20px;
}

#icon-youtube span{
    color: rgb(153, 154, 154);
    font-size: 10px;
    position: relative;
    top: -15px;
}

#hamburger svg{
    fill: white;
    cursor: pointer;
}

#icon-youtube svg{
    fill: white;
    cursor: pointer;
}

#center{
    display: flex;
    width: 40%;
}

#search{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}

#input-search{
    width: 88%;
    height: 70%;
    padding-left: 15px;
    border-radius: 30px 0px 0px 30px;
    background-color: rgba(18,18,18);
    border: 1px solid rgba(64, 64, 64);
    border-right: unset;
    display: flex;
    align-items: center;
}

#input-search input{
    width: 100%;
    height: 70%;
    font-size: 1em;
    background-color: rgba(18,18,18);
}

input{
    outline: none;
    border: none;
    color: white;
}

#icon-search{
    width: 12%;
    height: 70%;
    border-radius: 0px 30px 30px 0px;
    background-color: rgba(34,34,34);
    border: 1px solid rgba(64, 64, 64);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#microphone{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-microphone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(34,34,34);
    border-radius: 50%;
    cursor: pointer;
}

#end{
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#upload{
    height: 100%;
    width: 40%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-upload:hover{
    cursor: pointer;
}

#button-upload{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    background-color: rgba(34,34,34);
    padding: 0px 10px 0px 10px;
    border-radius: 30px;
}

#button-upload span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 1em;
}

#notification{
    width: 15%;
    height: 70%;
    display: flex;  
    align-items: center;
    justify-content: center;
}

#notification:hover{
    cursor: pointer;
}

#profile{
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-profile{
    width: 40px;
    height: 40px;
    background: url(img/profile.jpg);
    background-size: cover;
    border-radius: 50%;
}

#box-profile:hover{
    cursor: pointer;
}

#side{
    color: white;
    font-size: .9em;
    position: sticky;
    top: 56px;
    width: 15%;
    height: calc(100vh - 56px);
    background-color: rgb(15,15,15);
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.box-side:hover{
    cursor: pointer;
    background-color: rgb(49, 49, 49);
}

#default{
    width: 100%;
}

#side hr{
    margin-top: 10px;
    opacity: .2;
}

#icon-home{
    background-color: rgb(49, 49, 49);
}

.box-side{
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
}

#your-youtube{
    padding-top: 10px;
}

#your-youtube .icon-side span+span{
    width: 80%;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.icon-side{
    width: 30%;
    display: flex;  
    align-items: center;
    justify-content: start;
}

.title-side{
    width: 60%;
    display: flex;  
    align-items: center;
    justify-content: start;
}

#following{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
    margin-top: 10px;
}

#following .channel-youtuber:hover{
    cursor: pointer;
    background-color: rgb(49, 49, 49);
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
}

.topic-side{
    font-weight: bold;
    margin: 5px;
}

.channel-youtuber{
    display: flex;
    width: 100%;
    height: 40px;
}

.profile-youtuber{
    width: 30%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.profile-youtuber img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.channel-youtuber .other-youtuber{
    width: 30%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.channel-status .blue{
    width: 4px;
    height: 4px;
    background-color: rgb(0, 174, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.channel-name{
    width: 60% ;
    display: flex;
    align-items: center;
    justify-content: start;;
}

.channel-status{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#survey{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
    margin-top: 10px;
}

#survey .box-side{
    width: 100%;
    padding: 0;
}

#option-youtube{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
    margin-top: 10px;
}

#option-youtube .box-side{
    width: 100%;
    padding: 0;
}

#item{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
    margin-top: 10px;
}

#item .box-side{
    width: 100%;
    padding: 0;
}

#footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;        
}

.box-footer{
    padding: 15px 12px 0px 12px;
    display: flex;
    flex-wrap: wrap ;
}

.box-footer div{
    margin-right: 5px;
    opacity: .6;
    font-size: .875em;
}

.box-footer #last{
    opacity: .3;
}

#content{
    width: 85%;
    height: calc(100vh - 56px);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#suggest{
    width: 100%;
    height: 250px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    background-color: rgb(15, 15, 15);
}

#suggest #start{
    background-color: white;
    color: black;
    width: auto;
}

#suggest .type:hover{
    cursor: pointer;
    background-color: rgb(95, 95, 95);
    transition: background-color 1s;
}

#suggest::-webkit-scrollbar {
    height: 4px;
}
  
#suggest::-webkit-scrollbar-track {
    background: transparent;  
}
  
#suggest::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.5);
    border-radius: 4px;
}
  
#suggest::-webkit-scrollbar-thumb:hover {
    background: rgba(150, 150, 150, 0.7);
}

.type{
    border-radius: 8px;
    padding: 5px 10px 5px;
    margin: 5px;
    color: white;
    background-color: rgb(47, 46, 46);
    white-space: nowrap;
}

#channel{
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(15, 15, 15);
    overflow-y: scroll;
}

#channel::-webkit-scrollbar {
    width: 8px;
}
#channel::-webkit-scrollbar-track {
    background: transparent;
}
#channel::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

#side::-webkit-scrollbar {
    width: 6px;
}
#side::-webkit-scrollbar-track {
    background: transparent;
}
#side::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.box-channel{
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 350px;
    align-items: center;
    justify-content: start;
    border-radius: 15px;
    padding: 5px;
    transition: background-color 1s;
}

.box-channel:hover{
    background-color: rgb(52, 119, 80);
    cursor: pointer;
}


.box-channel .video{
    width: 98%;
    height: 70%;
}

.box-channel .video img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.box-channel .box-content{
    padding-top: 10px;
    width: 98%;
    height: 30%;
    display: flex;
    color: white;
}

.box-channel .box-content .profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.box-channel .box-content .profile{
    width: 13%;
    height: 80%;
}

.box-channel .box-content .box-text{
    width: 82%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.box-channel .box-content .box-text .topic{
    width: 100%;
    min-height: 40%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: start;
}

.box-channel .box-content .box-text .detail{
    font-size: .8em;
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
}

.box-channel .box-content .box-text .detail .name-channel{
    width: 100%;
    height: 50%;
    opacity: .6;
}

.box-channel .box-content .box-text .detail .view-video{
    width: auto;
    height: 50%;
    opacity: .6;
}

.box-channel .box-content .box-text .detail .time-video{
    width: auto;
    height: 50%;
    opacity: .6;
}

.box-channel .box-content .option{
    width: 5%;
    height: 80%;
    fill: white;
}

#short{
    color: white;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#short #title-short{
    width: 96%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
}

#short #title-short #icon-short{
    width: 40px;
    height: 40px;
}

#short #title-short #name-short{
    width: 10%;
    height: 40px;
    font-size: 1.2em;
    font-weight: bolder;
}

#short #title-short #option-title-short{
    width: 90%;
    height: 40px;
}

#short #title-short #option-title-short svg{
    position: relative;
    left: 95%;
}

#short #title-short div{
    width: 100%;
    height: 40px;
    display: flex;
}

#short #list-short{
    width: 100%;
    height: 510px;
    display: flex;
    align-items: center;
    justify-content: start;
}

#short #list-short .box-short{
    width: 19.2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    border-radius: 10px;
    transition: background 1s;
    flex: 0 0 auto;
}

#short #list-short .box-short .video-short{
    width: 96%;
    height: 83%;
}

#short #list-short .box-short .video-short img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#short #list-short .box-text{
    width: 96%;
    height: 17%;
    padding-top: 5px;
    display: flex;
}

#short #list-short .box-text div .detail-short{
    width: 100%;
    height: auto;
    flex: 0 0 auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;             
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#short #list-short .box-text div .view-short{
    width: 100%;
    height: 30px;
    font-size: .85em;
    opacity: .8;
    display: flex;
    align-items: center;
    justify-content: start;
    opacity: .6;
}

#short #list-short .box-text div{
    width: 80%;
    height: 30px;
}

#short #list-short .box-text .option-short{
    width: 20%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
}

#list-short .box-short:hover{
    background-color: rgb(43, 57, 65);
    cursor: pointer;
}

#footerbar{
    display: none;
}

@media screen and (max-width:400px){
    #side{
        display: none;
    }

    #content{
        width: 100%;
    }

    .box-channel{
        width: 100%;
    }

    #nav{
        width: 98%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav #start{
        width: 45%;
    }

    #nav #center{
        width: 20%;
    }

    #nav #end{
        display: none;
    }

    #nav #center #input-search{
        display: none;
    }
    
    #nav #center #microphone{
        display: none;
    }

    #nav #center #icon-search{
        width: 34px;
        height: 34px;
        background: none;
        border: none;
    }

    #nav #center #search{
        justify-content: end;
    }

    #nav #end #button-upload {
        padding: 0px 5px 0px 5px;
    }
    
    #nav #start #icon-youtube {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
    }

    #nav #start #hamburger {
        display: none;
    }

    #nav #end #box-profile {
        width: 34px;
        height: 34px;
    }

    #content #suggest{
        height: 100%;
    }

    #content #channel{
        width: 100%;
        height: auto;
        padding: 0px;
        overflow-x: hidden;
    }

    #suggest::-webkit-scrollbar {
        display: none;
    }

    #channel::-webkit-scrollbar {
        display: none;
    }

    #suggest{
        border: 1px solid rgb(255, 255, 255,.3);
        border-left: unset;
        border-right: unset;
    }

    #channel .box-channel{
        padding: 0px;
        border-radius: 0px;
    }

    #channel .box-channel .video{
        width: 100%;
    }

    #channel .box-channel .video img{
        border-radius: unset;
    }

    #short #list-short{
        overflow-x: scroll;
    }

    #short #list-short .box-short{
        width: 60%;
    }

    #short #list-short::-webkit-scrollbar {
        display: none;
    }

    #footerbar{
        width: 100%;
        height: 56px;
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0px;
        background-color: rgba(0, 0, 0,.6);
        backdrop-filter: blur(10px); 
        border-radius: unset;
    }

    #footerbar .box-footer{
        width: 25%;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
    }

    #footerbar .box-footer div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #footerbar .box-footer div img{
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    #footerbar .box-footer .text-footer{
        color: white;
        font-size: .8em;
    }

    #footerbar .box-footer .icon-footer{
        color: white;
    }
}