*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(15, 15, 15);
    font-family: Roboto, Arial, sans-serif;
}

#nav{
    width: 100%;
    height: 56px;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: space-between;
}

#start{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
}

#icon-youtube{
    margin: 20px;
}

#icon-youtube span{
    color: rgb(153, 154, 154);
    font-size: 10px;
    position: relative;
    top: -15px;
}

#hamburger svg{
    fill: white;
    cursor: pointer;
}

#icon-youtube svg{
    fill: white;
    cursor: pointer;
}

#center{
    display: flex;
    width: 40%;
}

#search{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}

#input-search{
    width: 88%;
    height: 70%;
    padding-left: 15px;
    border-radius: 30px 0px 0px 30px;
    background-color: rgba(18,18,18);
    border: 1px solid rgba(64, 64, 64);
    border-right: unset;
    display: flex;
    align-items: center;
}

#input-search input{
    width: 100%;
    height: 70%;
    font-size: 1em;
    background-color: rgba(18,18,18);
}

input{
    outline: none;
    border: none;
    color: white;
}

#icon-search{
    width: 12%;
    height: 70%;
    border-radius: 0px 30px 30px 0px;
    background-color: rgba(34,34,34);
    border: 1px solid rgba(64, 64, 64);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#microphone{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-microphone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(34,34,34);
    border-radius: 50%;
    cursor: pointer;
}

#end{
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#upload{
    height: 100%;
    width: 40%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-upload{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    background-color: rgba(34,34,34);
    padding: 0px 10px 0px 10px;
    border-radius: 30px;
}

#button-upload span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 1em;
}

#notification{
    width: 15%;
    height: 70%;
    display: flex;  
    align-items: center;
    justify-content: center;
}

#profile{
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-profile{
    width: 40px;
    height: 40px;
    background: url(img/profile.jpg);
    background-size: cover;
    border-radius: 50%;
}

#side{
    color: white;
    font-size: .9em;
    position: sticky;
    top: 56px;
    width: 15%;
    height: calc(100vh - 56px);
    background-color: rgb(15,15,15);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#default{
    width: 100%;
}

#side hr{
    margin-top: 10px;
    opacity: .2;
}

#icon-home{
    background-color: rgb(49, 49, 49);
}

.box-side{
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
}

#your-youtube{
    padding-top: 10px;
}

#your-youtube .icon-side span+span{
    width: 80%;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.icon-side{
    width: 30%;
    display: flex;  
    align-items: center;
    justify-content: start;
}

.title-side{
    width: 60%;
    display: flex;  
    align-items: center;
    justify-content: start;
}

#following{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
    margin-top: 10px;
}

#following .topic-side{
    font-weight: bold;
    margin: 5px;
}

.channel-youtuber{
    display: flex;
    width: 100%;
}

.profile-youtube{
    width: 20%;
}

.box-profile-following{

}

.channel-name{
    width: 70%  ;
}

.channel-status{
    width: 10%;
}

#content{
    width: 85%;
    height: calc(100vh - 56px);
    display: flex;
    flex-flow: column wrap;
}

#suggest{
    width: 100%;
    height: 8%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    background-color: rgb(15, 15, 15);
}

#suggest::-webkit-scrollbar {
    height: 8px;
}
  
#suggest::-webkit-scrollbar-track {
    background: transparent;  
}
  
#suggest::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.5);
    border-radius: 4px;
}
  
#suggest::-webkit-scrollbar-thumb:hover {
    background: rgba(150, 150, 150, 0.7);
}

.type{
    border-radius: 10px;
    padding: 5px 10px 5px;
    margin: 5px;
    color: white;
    background-color: rgb(47, 46, 46);
    white-space: nowrap;
}

#channel{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 92%;
    background-color: rgb(15, 15, 15);
    overflow-y: auto;
}

#channel::-webkit-scrollbar {
    width: 8px;
}
#channel::-webkit-scrollbar-track {
    background: transparent;
}
#channel::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.box{
    margin: 15px;
    width: 30%;
    height: 55%;
    background-color: rgb(81, 78, 78);
    display: grid;
    grid-template-rows: 70% 15% 15%;
    grid-template-columns: 15% 85%;
    grid-template-areas: "video video"
                         "profile topic"
                         "profile detail";
}
img{
    width: 100%;
    height: 100%;
}
.video{
    grid-area: video;
}
.profile{
    background-color: blue;
    grid-area: profile;
}
.topic{
    grid-area: topic;
}
.detail{
    grid-area: detail;
}